%h1 JQuery Lightbox

#gallery
  %a{:href=>"/images/photo.jpg"}
    %img{:src => "/images/photo_thumbnail.jpg", :alt=>"Crane at Lake Elkhorn"}
  %a{:href=>"/images/photo.jpg"}
    %img{:src => "/images/photo_thumbnail.jpg", :alt=>"Crane at Lake Elkhorn"}
  %a{:href=>"/images/photo.jpg"}
    %img{:src => "/images/photo_thumbnail.jpg", :alt=>"Crane at Lake Elkhorn"}
  %a{:href=>"/images/photo.jpg"}
    %img{:src => "/images/photo_thumbnail.jpg", :alt=>"Crane at Lake Elkhorn"}